* {
    font-family: sans-serif;
    background-color: lavender;
}
  

h3 { 
    text-align: center;
    text-size-adjust: 20;
    


}

.search-form {
    
    display:grid;
    justify-content: center;
    
    align-items: center;
    color: blue;

    
    
     
    
}


.text {
    color: crimson;

}






